<section>
    <h1>List of City Weather Nearby</h1>
    <div>
        <ul>
            <li>
                <div>
                    <h2>Los Angeles</h2>
                    <p>Weather: </p>
                    <p>Degree: </p>
                </div>
            </li>
            <li>
                <div>
                    <h2>San Fernando</h2>
                    <p>Weather: </p>
                    <p>Degree: </p>
                </div>
            </li>
            <li>
                <div>
                    <h2>Antelope Valley</h2>
                    <p>Weather: </p>
                    <p>Degree: </p>
                </div>
            </li>
        </ul>
    </div>
</section>
